<section class="card mt-5">
    <div class="card-header d-flex justify-content-between">
        <h1>Cronofy Rails Demo</h1>
        <div class="pt-2">
            <%= link_to "Connect a calendar", @authorization_url, class: "btn btn-primary" %>
        </div>
    </div>

 <div class="card-body">
    <p><strong>Connected calendars:</strong></p>
    <% @calendars.each do |calendar| %>
    <div class="row bg-light border mb-2 p-2">
        <div class="col-auto pt-1"><strong>Profile:</strong> <%= calendar.profile_name %> (<%= calendar.provider_name %>) </div>
        <div class="col-auto pt-1"><strong>Calendar name:</strong> <%= calendar.calendar_name %></div>
        <div class="col-auto"><%= link_to 'View availability', calendar_path(calendar.calendar_id), class: "btn btn-secondary" %></div>
    </div>
    <% end %>
    </div>

</section>
